%h1 Propose Additional Story

%p You are proposing an story to be slated as part of the #{@iteration.number} iteration after story &ldquo;#{@last_story.name}&rdquo;.

%section.add-story
  = form_for @story, as: :story, url: iteration_stories_path(@iteration), method: :post, html: { class: 'new_story fill_in' } do |f|
  = f.hidden_field :after_id, value: @last_story.id
  = render partial: 'shared/story_fields', locals: {form: f}
  = f.button

