%tr
  %td
    = user.name
  %td
    = user.username
  %td
    = simple_form_for user do |f|
      = f.input :role, label: false, collection: User.roles.keys.map {|role| [role.titleize,role]}, include_blank: false
      = f.button :submit, class: 'gh-button primary'
  %td.delete
    - unless user == current_user
      = link_to "Delete", user_path(user), data: { confirm: "Are you sure?" }, method: :delete, class: 'gh-button danger trash icon'
