%h3 User List
%table.table-minimal.users
  %thead
    %tr
      %th Name
      %th Github Username
      %th Role
      %th
  %tbody
    = render partial: 'user', collection: @users
    -# - @users.each do |user|
      -# %tr
        -# %td #{user.id}
        -# %td #{user.name}
        -# %td #{time_ago_in_words(user.created_at)} ago
        -# %td #{user.role}
  %tfoot
    %tr
      %td{colspan: 5} Total Users: #{@users.count}

