
%p In as few words as possible, please provide us with a very high level overview of what is going on.

.acceptance-criteria
  %h3 High-level details:
  %hr
  .line
    %div I had expected that
  .line
    #{form.text_field :assumption, placeholder: 'e.g. using submit functionality would display in Slack', required: true}
    %span.period
  .line
    %div Instead what happened was
  .line
    #{form.text_field :actual, placeholder: 'e.g. the page rendered a 500 error', required: true}
    %span.period
  .line
    %span Is there a workaround?
    = form.select :workaround, [['Yes', true], ['No', false]]

.defect-content
  %h2 Provide a Short Title:
  %hr
  .line
    %span Expected
    #{form.text_field :name_expectation, placeholder: 'e.g. an empty result set', required: true, maxlength: 40}
    %span.comma
    %span instead received
    #{form.text_field :name_actual, placeholder: 'e.g. a NullPointerException', required: true, maxlength: 40}
    %span.period
