%h3 Suggest revision to pending story

%section.update-story
  = form_for @story, as: :story, url: story_path(@story), method: :put do |f|
    .line
      = f.label :name, 'Title:'
      = f.text_field :name

    .line
      = f.label :description, 'Description'
    .line
      .existing-content
        = raw(RDiscount.new(f.object.description).to_html)

    .line
      = f.label :additional_description, 'Additional Description (Markdown supported)'
    .line
      = f.text_area :additional_description, rows: 10

    = field_set_tag 'Reason for revision*' do
      .line
        = f.text_field :comment, placeholder: 'Requested additional information', required: true

    -# = f.label :body, 'Description'
    -# = f.text_area :body, rows: 20

    .line
      = f.button class: 'button', alt: 'Submit Revision' do
        %i.fa.fa-send>
        Submit Revision
