%article.type-system-sans
  %section.header
    %h1 #{@story.name}
  %section
    %aside
      %div
        %span Story Type
        = @story.story_type.titleize
      %div
        %span State
        - if @story.approved?
          = @story.current_state.titleize
        - elsif @story.submitted?
          Pending Review
        - else
          \-
      %div
        %span Created
        = @story.created_at.strftime('%B %m %Y')
      %div
        %span Updated
        #{time_ago_in_words(@story.updated_at)} ago
      %div
        %span External ID
        #{@story.external_ref || '-'}
      %div
        %span Reporter
        %a{href: "https://github.com/#{@story.user.username}"}
          #{@story.user.name || @story.user.username}
      %div
        %span Follow Story?
        = render partial: 'follow'

    .story-description
      :markdown
        #{@story.description}

  %section.audit-log
    %h3 Story History
    - if @story.activities.count > 0
      - @story.activities.order('created_at DESC').each do |activity|
        .activity
          .time
            #{time_ago_in_words(activity.created_at)} ago
          .message
            Story has been <em>#{t("story.highlight.#{activity.highlight.underscore}")}</em>.

    - else
      .activity
        .time
          #{time_ago_in_words(Time.now)} ago
        .message
          No history to report for this story. Most likely this story is still pending review.

