.vertical-tabs-container
  .vertical-tabs
    - @iterations.each do |iteration|
      %a.js-vertical-tab.vertical-tab{:href => "javascript:void(0)", rel: "tab#{iteration.number}"}
        - if iteration.is_current?
          Current iteration
        - else
          Iteration starting #{iteration.start.strftime('%b %d')}
  .vertical-tab-content-container
    - @iterations.each do |iteration|
      %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{:href => "", :rel => "tab#{iteration.number}"}
        - if iteration.is_current?
          Today - #{iteration.finish.strftime('%b %d')}
        - else
          #{iteration.start.strftime('%b %d')} - #{iteration.finish.strftime('%b %d')}
      %div.js-vertical-tab-content.vertical-tab-content{id: "tab#{iteration.number}"}
        - if iteration.is_future? and policy(:story).create?
          .suggestion
            %a{href: new_iteration_story_path(iteration)}
              %i.fi-plus
              Suggest Addition
        - if iteration.stories.size > 0
          = render partial: 'stories/story', collection: iteration.stories
        - else
          %p.nothing-targetted Nothing is targetted to complete this iteration.
        - if iteration.team_strength < 1.0
          %hr
          .flash.notice Notice: This iteration has an adjusted team strength of #{(iteration.team_strength * 100).to_i}%.

.disclaimer
  %p The dates provided above are estimates. They are not provided as a commitment or contract of delivery.
