<% @iterations.each do |iteration| %>
  <section class="iterations-list">
    <aside>
      <div class="iteration">
      <div>
        <figure>
        <img srcset="<%= image_path("pin-green.png") %> 2x"/>
        </figure>
        <div class="name">
          <h2>Iteration <%= iteration.number %></h2>
          <small>Team Strength <%= (iteration.team_strength * 100).to_i %>%</small>
        </div>
      </div>
      </div>
    </aside>
    <div class="stories green">

      <% iteration.stories.each do |story| %>
        <% local_story = Story.find_by_external_ref(story.to_param) %>
        <div class="story <%= "tracked" if local_story && current_user.following?(local_story) %>" data-local="<%= local_story ? 'true' : 'false' %>">
          <div class="stats">
            <figure class="type">
              <%= story_type_icon(story.story_type) %>
            </figure>
            <figure class="risk">
              <span class="fa fa-signal"> <%= calculate_risk(story.estimate).titleize %></span>
            </figure>
            <figure class="updated">
              <span class="fa fa-clock-o"> <%= time_ago_in_words(story.updated_at) %></span>
            </figure>
            <figure class="watch">
              <% if local_story.present? %>
                <% if current_user.following?(local_story) %>
                  <a class="unfollow fa fa-eye-slash" href="<%= story_follow_path(local_story) %>"> Unfollow</a>
                <% else %>
                  <a class="follow fa fa-eye" href="<%= story_follow_path(local_story) %>"> Follow</a>
                <% end %>
              <% end %>
            </figure>
          </div>
          <div class="body">
            <div>
              <div>
                <h3><%= story.name %></h3>
                <a class="external fa fa-external-link" data-url="<%= story_path(local_story) if local_story.present? %>">&nbsp;</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

<% end %>
