<div class='filters' data-scope="<%= params[:scope] %>">
  <ul>
    <li>
      <span class='fa fa-calendar fa-fw' title="View Iterations By"></span>
    </li>
    <li class='active'>
      <%= link_to 'Upcoming Iterations', iterations_path %>
    </li>
    <li>
      <%= link_to 'Previous Iterations', iterations_path(scope: 'done') %>
    </li>
  </ul>
</div>

<% colors = %w(green blue orange) %>
<% @iterations.each_with_index do |iteration, index| %>
  <% color = colors[index % colors.length] %>
  <section class="iterations-list">
    <aside>
      <div class="iteration">
        <div>
          <span class="st-icons-map-pin <%= color %>"></span>
          <div class="name">
            <h2>Iteration <%= iteration.number %></h2>
            <% if iteration.finish < DateTime.now %>
              <small><strong>Iteration was completed <%= time_ago_in_words(iteration.finish) %> ago</strong></small>
            <% else %>
              <small>Team Strength <%= (iteration.team_strength * 100).to_i %>%</small>
            <% end %>
          </div>
        </div>
      </div>
    </aside>
    <div class="stories <%= color %>">
      <% iteration.stories.each do |story| %>
        <% local_story = Story.find_by_external_ref(story.to_param) %>
        <div id="<%= local_story.to_param %>" class="story <%= "tracked" if local_story && current_user.following?(local_story) %>" data-local="<%= local_story ? 'true' : 'false' %>">
          <div class="body">
            <div>
              <div>
                <h3><%= story.name %></h3>
              </div>
            </div>
          </div>
          <div class="stats">
            <div class="row">

              <div class="item watch">
                <% if local_story.present? %>
                  <% if local_story.completed? %>
                    <span class="fa fa-thumbs-o-up fa-fw"></span>
                    Completed
                  <% else %>
                    <% if current_user.following?(local_story) %>
                      <a class="unfollow" href="<%= story_follow_path(local_story) %>"> <span class="fa fa-eye-slash fa-fw"></span><span class="name">Unfollow</span></a>
                    <% else %>
                      <a class="follow" href="<%= story_follow_path(local_story) %>"><span class="fa fa-eye fa-fw"></span><span class="name">Follow</span></a>
                    <% end %>
                  <% end %>
                <% else %>
                  <span class="fa fa-lock fa-fw"></span>
                  <span class="name">Private</span>
                <% end %>
              </div>

              <div class="item type">
                <%= story_type_icon(story.story_type) %>
              </div>

              <div class="item risk">
                <span class="fa fa-signal"></span><%= calculate_risk(story.estimate).titleize %>
              </div>

              <div class="item updated">
                <span class="fa fa-clock-o"></span><%= time_ago_in_words(story.updated_at) %>
              </div>

              <div class="item author">
                <% if local_story %>
                  <span class="fa fa-user"></span>
                  <% if local_story.user == current_user %>
                    <strong><%= local_story.user.username %></strong>
                  <% else %>
                    <%= local_story.user.username %>
                  <% end %>
                <% end %>
              </div>
              <div class="item external-link">
                <a href="#<%= local_story.to_param %>" class="external" data-url="<%= story_path(local_story) if local_story.present? %>"><span class="fa fa-external-link"></span><span class="name">Details</span></a>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </section>

<% end %>
