!!!
%html
  %head
    %title StoryTracker - https://github.com/jsmestad/story_tracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .main
      - flash.each do |type, msg|
        .flash{class: type}
          %span= raw(msg)
      = yield
