!!!
%html
  %head
    %title StoryTracker - https://github.com/jsmestad/story_tracker
    = stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track' => true
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: '//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}
    %link{href: '//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200', rel: 'stylesheet', type: 'text/css'}
  %body{class: ('first-time' if @first_time)}
    .wrapper-for-content-outside-of-footer
      = render partial: 'shared/navigation'
      .main
        - flash.each do |type, msg|
          .flash{class: type}
            %span= raw(msg)
        = yield
    = render partial: 'shared/footer'

