!!!
%html
  %head
    %title StoryTracker - https://github.com/jsmestad/story_tracker
    = stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track' => true
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: '//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css'}
    %link{href: '//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200', rel: 'stylesheet', type: 'text/css'}
  %body{class: ('first-time' if @first_time)}
    .wrapper-for-content-outside-of-footer
      = render partial: 'shared/navigation'
      .main
        - flash.each do |type, msg|
          .flash{class: type}
            %span= raw(msg)
        = yield
    = render partial: 'shared/footer'

%html
  %head
    %title StoryTracker
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'font-awesome.min'
    -# %link{:href => "stylesheets/font-awesome.min.css", rel: => "stylesheet" }
    -# %script{ src: '//code.jquery.com/jquery-2.1.4.min.js' }
    %script{ src: '/javascripts/markdown-it.min.js' }
    = javascript_include_tag 'application'
    %link{ href: "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css", rel: "stylesheet" }
    %script{ src: "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js" }
  %body
    = render 'secondary_nav'
    %main.cd-main-content
      .wrapper
        %header.page
          %img{ src: "#{image_path('logo-web_1x.png')}",
                srcset: "#{image_path('logo-web_2x.png')} 2x" }/
          %h1.logo StoryTracker
        = yield
    = render 'panel'
